params {

    debug = true

    base = "/data/nf/scenic"
    input_base = "${params.base}/input"

    expr = "${params.input_base}/expr_mat.tsv"
    expr_loom = "${params.input_base}/expr_mat.loom"
    TFs = "${params.input_base}/allTFs_hg38.txt"
    motifs = "${params.input_base}/motifs.tbl"
    db = "${params.input_base}/genome-ranking.feather"
    output = "${params.base}/output"
    grn = "grnboost2"
    threads = 6

    loom { // parameters for reading loom files

      cell_id_attribute = "CellID"
      gene_attribute = "Gene"

    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        process.executor = 'local'
        docker.enabled = 'true'
        process.container = 'tverbeiren/pyscenic'
        docker.runOptions = '--rm -i -v /data:/data'
        docker.mountFlags = 'rw'
    }
    singularity {
        process.executor = 'local'
        singularity.enabled = 'true'
        process.container = 'shub://aertslab/pySCENIC:latest'
        singularity.autoMounts = true
    }
    dockertesting {
        process.executor = 'local'
        docker.enabled = 'true'
        process.container = 'cflerin/pyscenic:latest'
    }
    singularitytesting {
        process.executor = 'local'
        singularity.enabled = 'true'
        process.container = 'shub://cflerin/pySCENIC:latest'
        singularity.autoMounts = true
    }
    example {
        includeConfig 'example.config'
    }

}

