params {

  analysis_id = "my_analysis"

  debug = true
  trace = true
  report = true
  timeline = true

  refbase = "/refdata"
  base = "/data"

  analysis = "${params.base}/${analysis_id}"

  reference {
    TFs = "${params.refbase}/allTFs_hg38.txt"
    motifs = "${params.refbase}/motifs.tbl"
    db = "${params.refbase}/genome-ranking.feather"
  }

  input {
    dir = "${params.analysis}"
    expr_loom = "${params.input.dir}/expr_mat.loom"
  }

  filter {
    metadata = "${params.refbase}/heart_1k_v3_filtered_feature_bc_matrix.h5"
    output = "filtered_output.loom"
  }

  output {
    dir = "${params.analysis}"
    file = "${params.output.dir}/output.loom"
  }

  config {
    grn = "grnboost2"
    threads = 6
  }

  loom { // parameters for reading loom files
    cell_id_attribute = "CellID"
    gene_attribute = "Gene"
  }
}

profiles {

  standard {
    process.executor = 'local'
  }
  docker {
    process.executor = 'local'
      docker.enabled = 'true'
      docker.runOptions = '--rm -i -v /data/refdata:/refdata -v /data/data:/data'
      docker.mountFlags = 'rw'
  }
  singularity {
    process.executor = 'local'
      singularity.enabled = 'true'
      process.container = 'shub://aertslab/pySCENIC:latest'
      singularity.autoMounts = true
  }
  dockertesting {
    process.executor = 'local'
      docker.enabled = 'true'
      process.container = 'cflerin/pyscenic:latest'
  }
  singularitytesting {
    process.executor = 'local'
      singularity.enabled = 'true'
      process.container = 'shub://cflerin/pySCENIC:latest'
      singularity.autoMounts = true
  }
  example {
    includeConfig 'example.config'
  }

}

